@import "tailwindcss";

@layer base {
    body {
        @apply bg-gray-50 text-gray-900;
    }
}

button:not([disabled]),
select,
label[for],
a {
    cursor: pointer;
}

button[disabled] {
    cursor: not-allowed;
}